<div class="container mt-3">
  <div class="row">
    <%= render 'users/left_list', user: @user%>
    <div class="offset-md-1 col-md-8">
      <h2>Book detail</h2>
      <table class="table">
        <tbody>
          <tr>
            <th>
              <%= image_tag @user.get_profile_image(90,90) %><br>
              <%= link_to @user.name, user_path(@user.id) %>
            </th>
            <th><%= link_to @book.title, book_path(@book.id) %></th>
            <th><%= @book.body %></th>
            <% if @user.id == current_user.id %>
            <th>
              <div type="button" class="btn btn-success text-center text-white py-0">
                <%= link_to edit_book_path(@book.id) do %>
                  <p class="text-white my-0">Edit</p>
                <% end %>
              </div>
            </th>
            <th>
              <div type="button" class="btn btn-danger text-center text-white py-0">
                <%= link_to book_path(@book.id), method: :delete, "data-confirm" => "本当に削除しますか？" do %>
                  <p class="text-white my-0">Destroy</p>
                <% end %>
              </div>
            </th>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>